section img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 5px 5px 10px #000;
    -moz-box-shadow: 5px 5px 10px #000;
    box-shadow: 5px 5px 10px #000;
    margin: 10px;
}
